# ignore these
data/*
images/architecture_slide.pptx
.idea
.ipynb_checkpoints
.DS_Store
__pycache__
.pytest_cache
metastore_db
derby.log
spark-cluster/dc/.env
port-forward-pids

# keep track of these files
!data/README.md

